include "Styles/Gradients/Globalmenu/default.rc"
include "Styles/Menubar/menubar-default.rc"
include "Styles/Menubar/No-Gtk/menubar-flat.rc"
include "Styles/Notebook/notebook-default.rc"
include "Styles/Tabs/tabs-default.rc"
include "Styles/Tabs/No-Gtk/tabs-smooth.rc"
include "Styles/Notebook/notebook-mozilla.rc"
include "Styles/Tabs/Mozilla/tabs-smooth-flat.rc"
include "Styles/Sliders/scrollbars-default.rc"
include "Styles/Menu/menu-dark.rc"
include "Styles/Menu-Item/menu-item-dark-round.rc"
include "Styles/Panel/panel-dark-default.rc"
include "Styles/Expanders/arrow.rc"
