Package: lightningbeam
Version: 1.0.0-alpha2
Section: graphics
Priority: optional
Architecture: all
Installed-size: 27000
Depends: bash, python, python-imaging
Maintainer: skycooler@gmail.com
Description: Lightningbeam is an open-source animated content creation tool.
