include						"Styles/Surfaces/surfaces.rc"

style "window-short" 				= "default"
{
	base[NORMAL]				= @base_color

	engine "pixmap"
	{
		image
		{
			function        	= FLAT_BOX
			recolorable     	= TRUE
			file			= "Fixes/gradient-alt.png"
			border			= { 0, 0, 59, 0}
			stretch         	= TRUE
		}
	}
}

style "nautilus-emblem"				= "default"
{
	base[NORMAL]				= @base_color

	engine "pixmap"
	{
		image
		{
			function        	= FLAT_BOX
			recolorable     	= TRUE
			file			= "Fixes/nautilus-emblem.png"
			border			= { 0, 0, 47, 0}
			stretch         	= TRUE
		}
	}
}

class "GtkWindow"				style "window-short"

#nautilus background browser
widget "NautilusPropertyBrowser.GtkVBox.GtkHBox.GtkScrolledWindow.GtkViewport"	style "nautilus-emblem"
widget "NautilusPropertyBrowser.GtkVBox.GtkHBox.GtkVBox.GtkEventBox"		style "nautilus-emblem"


style "statusbar-fix-short"			= "button"
{

	engine "pixmap"
	{
		image
		{
			function        	= FLAT_BOX
			recolorable     	= TRUE
			#state			= PRELIGHT
			file			= "Fixes/statusbar-10.png"
			border			= { 0, 0, 0, 0}
			stretch         	= TRUE
		}
	}
}

style "rhythm-lastfm"				= "default"
{
	engine "pixmap"
	{
		image
		{
			function        	= FLAT_BOX
			recolorable     	= TRUE
			#state			= PRELIGHT
			file			= "Fixes/statusbar-10.png"
			border			= { 0, 0, 0, 0}
			stretch         	= TRUE
		}
	}
}

style "color-short"				= "button"
{
	bg_pixmap[NORMAL]			= "Fixes/statusbar-10.png"

}

style "synaptic-statusbar"
{
	xthickness				= 0
	ythickness				= 0

	engine "pixmap"
	{
		image
		{
			function        	= FLAT_BOX
			recolorable     	= TRUE
			#state			= PRELIGHT
			file			= "Fixes/statusbar-10.png"
			border			= { 0, 0, 0, 0}
			stretch         	= TRUE
		}
	}
}

style "shadow-out-none"
{
	bg[NORMAL]				= shade (0.90, @bg_color)
	engine "pixmap"
	{
		image
		{
			function		= SHADOW
			shadow			= OUT
		}
	}
}

widget "gtkmm__GtkWindow.SPDesktopWidget*"	style "shadow-out-none"

widget_class "*<GtkStatusbar>*<GtkEventBox>"	style "statusbar-fix-short"
widget_class "*<GtkStatusbar>*ComboBox"		style "statusbar-fix-short"

#rhythmbox
widget "*RBSourceHeader*GtkEventBox"		style "statusbar-fix-short"
widget "*RBAudioscrobblerProfileSource*GtkScrolledWindow.GtkViewport"	style "rhythm-lastfm"
#xchat
widget "GtkWindow.GtkTable.GtkHBox.GtkHBox.GtkViewport" 		style "statusbar-fix-short"
#gmpc
widget "pl3_win.*.browser_container"  							style "statusbar-fix-short"
widget "GtkWindow.GtkVBox.GtkVBox.GtkHPaned.GtkVPaned.GtkVBox.GtkEventBox"  		style "statusbar-fix-short"

#nautilus background browser
widget "NautilusPropertyBrowser.GtkVBox.GtkEventBox"					style "statusbar-fix-short"


widget "pl3_win.vbox1.vbox_control.hpaned1.GtkVPaned.GtkEventBox"			style "statusbar-fix-short"
widget "GtkWindow.GtkVBox.GtkVBox.GtkHPaned.GtkVPaned.GtkEventBox"			style "statusbar-fix-short"

widget "pl3_win.vbox1.hbox1.status-icon-hbox.GtkEventBox"				style "statusbar-fix-short"
widget "GtkWindow.GtkVBox.GtkHBox.GtkHBox.GtkEventBox"					style "statusbar-fix-short"


#gimp
widget "*GimpToolOptionsEditor.GtkScrolledWindow.GtkViewport"				style "statusbar-fix-short"

#gimp color picker
widget_class "*.<GimpFgBgEditor>*"					style:highest "color-short"
#fix for download frame in emesene 
widget "GtkWindow.GtkVBox.GtkNotebook.GtkVBox.GtkHBox.GtkLayout" 	style:highest "color-short"

widget "GtkWindow.GtkVBox.GtkHPaned.GtkVBox.GtkVBox.GtkNotebook.GtkEventBox*" 	style:highest "color-short"
#synaptic statusbar
widget "window_main.vbox1.hbox_status.scrolledwindow*.viewport4" 		style "synaptic-statusbar"
