style "tabs-default"				= "default"
{

	xthickness    		        	= 8
	ythickness    		        	= 2

	GtkNotebook::tab-overlap 		= 12
	GtkNotebook::tab-curvature		= 2

	engine "pixmap" 
	{
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs/htab.png"
			border			= { 8, 8, 6, 5}
			stretch			= TRUE
			gap_side		= TOP
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs/htab.png"
			border			= {  8, 8, 6, 5}
			stretch			= TRUE
			gap_side		= BOTTOM
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs/vtab.png"
			border			= {  6, 6, 9, 7}
			stretch			= TRUE
			gap_side		= RIGHT
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs/vtab.png"
			border			= { 6, 6, 9, 7}
			stretch			= TRUE
			gap_side		= LEFT
		}	
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs/tab-active-top.png"
			border			= { 14, 14, 15, 11}
			stretch			= TRUE
			gap_side		= BOTTOM
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs/tab-active-bottom.png"
			border			= { 14, 14, 13, 13}
			stretch			= TRUE
			gap_side		= TOP
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs/tab-active-left.png"
			border			= {  21, 14, 14, 12}
			stretch			= TRUE
			gap_side		= RIGHT
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs/tab-active-right.png"
			border			= {  14, 21, 14, 12}
			stretch			= TRUE
			gap_side		= LEFT
		}
	}
}

style "tabs-exaile"				= "default"
{

	xthickness    		        	= 8
	ythickness    		        	= 6

	GtkNotebook::tab-overlap 		= 12
	GtkNotebook::tab-curvature		= 2

	engine "pixmap" 
	{
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs/htab.png"
			border			= { 8, 8, 6, 5}
			stretch			= TRUE
			gap_side		= TOP
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs/htab.png"
			border			= {  8, 8, 6, 5}
			stretch			= TRUE
			gap_side		= BOTTOM
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs/vtab.png"
			border			= {  6, 6, 9, 7}
			stretch			= TRUE
			gap_side		= RIGHT
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs/vtab.png"
			border			= { 6, 6, 9, 7}
			stretch			= TRUE
			gap_side		= LEFT
		}	
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Apps/Exaile/Tabs/tab-active-top.png"
			border			= { 14, 14, 19, 11}
			stretch			= TRUE
			gap_side		= BOTTOM
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Apps/Exaile/Tabs/tab-active-bottom.png"
			border			= { 14, 14, 13, 17}
			stretch			= TRUE
			gap_side		= TOP
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs/tab-active-left.png"
			border			= {  21, 14, 14, 12}
			stretch			= TRUE
			gap_side		= RIGHT
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs/tab-active-right.png"
			border			= {  14, 21, 14, 12}
			stretch			= TRUE
			gap_side		= LEFT
		}
	}
}

style "notebook-text"
{
	GtkWidget::interior-focus		= 0
	fg[ACTIVE] 				= "#f0f0f0"
}

style "foobix-add-button"
{
	engine "pixmap"
	{
		image
		{
			function        	= FLAT_BOX
			recolorable     	= TRUE
			#state			= PRELIGHT
			file			= "Tabs/foobix.png"
			border			= { 0, 0, 0, 0}
			stretch         	= TRUE
		}
	}
}

widget "GtkWindow.GtkVBox.GtkHPaned.GtkVBox.GtkVBox.GtkNotebook.GtkEventBox" style "foobix-add-button"

widget_class "*<GtkNotebook>"					style:highest "tabs-default"

widget_class "GeditWindow*<GtkNotebook>*GeditTab*<GtkLabel>"	style "notebook-text"
widget_class "*.<GtkNotebook>.<GtkLabel>"			style "notebook-text"
widget_class "*.<GtkNotebook>.<GtkHBox>.<GtkLabel>"		style "notebook-text"
widget_class "*.<GtkNotebook>.*<GtkEventBox>*<GtkLabel>" 	style "notebook-text"

#foobix tabs text
widget_class "GtkWindow.GtkVBox.GtkHPaned.GtkVBox.GtkVBox.GtkNotebook.GtkHBox.GtkHBox.GtkLabel" style "notebook-text"

widget "GtkWindow.GtkVBox.GtkHPaned.GtkVBox.GtkNotebook"	style:highest "tabs-exaile"
