style "tabs-smooth-dark-flat"			= "default"
{
	GtkNotebook::tab-overlap 		= 3

	xthickness    		        	= 6
	ythickness    		        	= 3

	engine "pixmap" 
	{
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs_smooth/tab-bottom-dark.png"
			border			= { 8, 11, 1, 7}
			stretch			= TRUE
			gap_side		= TOP
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs_smooth/tab-top-dark.png"
			border			= { 8, 11, 7, 1}
			stretch			= TRUE
			gap_side		= BOTTOM
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs_smooth/tab-left-dark.png"
			border			= { 8, 8, 9, 11}
			stretch			= TRUE
			gap_side		= RIGHT
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs_smooth/tab-right-dark.png"
			border			= { 8, 8, 9, 11}
			stretch			= TRUE
			gap_side		= LEFT
		}	
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs_smooth/tab-active-top-flat.png"
			border			= { 8, 8, 11, 0}
			stretch			= TRUE
			gap_side		= BOTTOM
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs_smooth/tab-active-bottom-flat.png"
			border			= { 8, 8, 0, 11}
			stretch			= TRUE
			gap_side		= TOP
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs_smooth/tab-active-left-flat.png"
			border			= { 11, 9, 8, 12}
			stretch			= TRUE
			gap_side		= RIGHT
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs_smooth/tab-active-right-flat.png"
			border			= { 9, 11, 8, 12}
			stretch			= TRUE
			gap_side		= LEFT
		}
	}
}

style "tabs-exaile"				= "default"
{
	GtkNotebook::tab-overlap 		= 3

	xthickness    		        	= 6
	ythickness    		        	= 6

	engine "pixmap" 
	{
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs_smooth/tab-bottom-dark.png"
			border			= { 8, 11, 1, 7}
			stretch			= TRUE
			gap_side		= TOP
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs_smooth/tab-top-dark.png"
			border			= { 8, 11, 7, 1}
			stretch			= TRUE
			gap_side		= BOTTOM
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs_smooth/tab-left-dark.png"
			border			= { 8, 8, 9, 11}
			stretch			= TRUE
			gap_side		= RIGHT
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs_smooth/tab-right-dark.png"
			border			= { 8, 8, 9, 11}
			stretch			= TRUE
			gap_side		= LEFT
		}	
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Apps/Exaile/Tabs_smooth/tab-active-top-flat.png"
			border			= { 8, 8, 14, 0}
			stretch			= TRUE
			gap_side		= BOTTOM
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Apps/Exaile/Tabs_smooth/tab-active-bottom-flat.png"
			border			= { 8, 8, 0, 14}
			stretch			= TRUE
			gap_side		= TOP
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs_smooth/tab-active-left-flat.png"
			border			= { 11, 9, 8, 12}
			stretch			= TRUE
			gap_side		= RIGHT
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs_smooth/tab-active-right-flat.png"
			border			= { 9, 11, 8, 12}
			stretch			= TRUE
			gap_side		= LEFT
		}
	}
}

style "foobix-add-button"
{
	engine "pixmap"
	{
		image
		{
			function        	= FLAT_BOX
			recolorable     	= TRUE
			#state			= PRELIGHT
			file			= "Tabs_smooth/foobix-dark.png"
			border			= { 0, 0, 0, 0}
			stretch         	= TRUE
		}
	}
}

style "notebook-text"
{
	GtkWidget::interior-focus		= 0
	fg[ACTIVE] 				= "#f0f0f0"
}

widget "GtkWindow.GtkVBox.GtkHPaned.GtkVBox.GtkVBox.GtkNotebook.GtkEventBox" style "foobix-add-button"

widget_class "*<GtkNotebook>"			style:highest "tabs-smooth-dark-flat"

widget "GtkWindow.GtkVBox.GtkHPaned.GtkVBox.GtkNotebook"	style:highest "tabs-exaile"

widget_class "GeditWindow*<GtkNotebook>*GeditTab*<GtkLabel>"	style "notebook-text"
widget_class "*.<GtkNotebook>.<GtkLabel>"			style "notebook-text"
widget_class "*.<GtkNotebook>.<GtkHBox>.<GtkLabel>"		style "notebook-text"
widget_class "*.<GtkNotebook>.*<GtkEventBox>*<GtkLabel>" 	style "notebook-text"
