style "nogtk-menubar-flat"
{
	engine "pixmap"
	{
		image
		{
			function		= SHADOW
			shadow			= OUT
			recolorable		= TRUE
			file			= "Fixes/none.png"
			border			= { 0, 0, 0, 0}
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			file			= "Fixes/none.png"
			border			= { 0, 0, 0, 0}
			stretch			= TRUE
		}
	}
}

widget "GtkWindow.GtkFixed.GtkMenuBar"		style "nogtk-menubar-flat"
