style "expander"
{
	engine "pixmap"
	{
		image
		{
			function        	= EXPANDER
			expander_style		= EXPANDED
			state			= NORMAL
			file			= "Expander/Dark/expander-expanded.png"
			border			= { 0, 0, 0, 0}
			stretch         	= TRUE
		}
		image
		{
			function        	= EXPANDER
			expander_style		= EXPANDED
			state			= PRELIGHT
			file			= "Expander/Dark/expander-expanded-prelight.png"
			border			= { 0, 0, 0, 0}
			stretch         	= TRUE
		}
		image
		{
			function        	= EXPANDER
			expander_style		= EXPANDED
			state			= ACTIVE
			file			= "Expander/Dark/expander-expanded-active.png"
			border			= { 0, 0, 0, 0}
			stretch         	= TRUE
		}
		image
		{
			function        	= EXPANDER
			expander_style		= SEMI_EXPANDED
			state			= NORMAL
			file			= "Expander/Dark/expander-semi.png"
			border			= { 0, 0, 0, 0}
			stretch         	= TRUE
		}
		image
		{
			function        	= EXPANDER
			expander_style		= SEMI_EXPANDED
			state			= PRELIGHT
			file			= "Expander/Dark/expander-semi-prelight.png"
			border			= { 0, 0, 0, 0}
			stretch         	= TRUE
		}
		image
		{
			function        	= EXPANDER
			expander_style		= SEMI_EXPANDED
			state			= ACTIVE
			file			= "Expander/Dark/expander-semi-active.png"
			border			= { 0, 0, 0, 0}
			stretch         	= TRUE
		}
		image
		{
			function        	= EXPANDER
			expander_style		= COLLAPSED
			state			= NORMAL
			file			= "Expander/Dark/expander-collapsed.png"
			border			= { 0, 0, 0, 0}
			stretch         	= TRUE
		}
		image
		{
			function        	= EXPANDER
			expander_style		= COLLAPSED
			state			= PRELIGHT
			file			= "Expander/Dark/expander-collapsed-prelight.png"
			border			= { 0, 0, 0, 0}
			stretch         	= TRUE
		}
		image
		{
			function        	= EXPANDER
			expander_style		= COLLAPSED
			state			= ACTIVE
			file			= "Expander/Dark/expander-collapsed-active.png"
			border			= { 0, 0, 0, 0}
			stretch         	= TRUE
		}
		image
		{
			function        	= EXPANDER
			expander_style		= SEMI_COLLAPSED
			state			= NORMAL
			file			= "Expander/Dark/expander-semi.png"
			border			= { 0, 0, 0, 0}
			stretch         	= TRUE
		}
		image
		{
			function        	= EXPANDER
			expander_style		= SEMI_COLLAPSED
			state			= PRELIGHT
			file			= "Expander/Dark/expander-semi-prelight.png"
			border			= { 0, 0, 0, 0}
			stretch         	= TRUE
		}
		image
		{
			function        	= EXPANDER
			expander_style		= SEMI_COLLAPSED
			state			= ACTIVE
			file			= "Expander/Dark/expander-semi-active.png"
			border			= { 0, 0, 0, 0}
			stretch         	= TRUE
		}
	}
}

class "GtkExpander" 	style "expander"
class "GtkTreeView" 	style "expander"
class "GtkCTree" 	style "expander"
