style "nautilus-breadcrumbs"
{
	xthickness 				= 5
	ythickness 				= 0
	
	GtkButton::child-displacement-y		= 0
	GtkButton::inner-border			= { 0, 0, 0, 2}

	engine "pixmap"
	{	
		image
		{
			function        	= BOX
			shadow			= OUT
			recolorable     	= TRUE
			state			= PRELIGHT
			file			= "Apps/nautilus-elementary/Unified/breadcrumb_prelight.png"
			border			= { 2, 2, 3, 6}
			stretch         	= TRUE
		}		
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			shadow			= IN
			state			= PRELIGHT
			file			= "Apps/nautilus-elementary/Unified/breadcrumb_prelight.png"
			border			= { 6, 6, 6, 6}
			stretch         	= TRUE
		}
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= NORMAL
			file			= "Apps/nautilus-elementary/Unified/breadcrumb.png"
			border			= { 0, 0, 3, 6}
			stretch         	= TRUE
		}
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= PRELIGHT
			file			= "Apps/nautilus-elementary/Unified/breadcrumb.png"
			border			= { 0, 0, 3, 6}
			stretch         	= TRUE
		}
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= ACTIVE
			file			= "Apps/nautilus-elementary/Unified/breadcrumb.png"
			border			= { 4, 4, 6, 6}
			stretch         	= TRUE
		}  
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= INSENSITIVE
			file			= "Apps/nautilus-elementary/Unified/breadcrumb.png"
			border			= { 0, 0, 3, 6}
			stretch         	= TRUE
		} 
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= SELECTED
			file			= "Apps/nautilus-elementary/Unified/breadcrumb.png"
			border			= { 0, 0, 3, 6}
			stretch         	= TRUE
		}
	}
}

widget_class "*NautilusPathBar.*ToggleButton*" 	style:highest "nautilus-breadcrumbs"
