style "terminal_screen"
{
	text[NORMAL] = "#f0f0f0"
	base[NORMAL] = "#5a5a5a"

	TerminalScreen::background-darkness = 0.95
}

widget "*TerminalWindow.*.TerminalScreen*"              style "terminal_screen"
