[Desktop Entry]
Version=1.0
Type=Application
Name=Lightningbeam Editor
Comment=Multimedia editor for audio, video and 2D animation
Exec=lightningbeam-editor
Icon=lightningbeam-editor
Terminal=false
Categories=Graphics;AudioVideo;Video;
StartupWMClass=lightningbeam-editor
